<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= @app.name %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/screen.css" media="screen"> -->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="fb:app_id" content="<%= @app.id %>" />
    <script>
      <% if settings.environment == :production %>
      if(self == top){
        window.location = 'https://apps.facebook.com/inaname/'
      }
      <% end %>

      function popup(pageURL, title,w,h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        var targetWin = window.open(
          pageURL,
          title,
          'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left
          );
      }
    </script>
    <!--[if IE]>
      <script>
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
    <style type="text/css" media="screen">
      h1{text-transform:capitalize;}
      body{text-align:center;}
      .friend{background:black;display:table-cell;vertical-align:middle;float:left; height:180px; overflow:hidden;}
      .friend img{display:inline-block;vertical-align: middle;}
      body{width:760px;padding:0;margin:20px auto 0;font-family:helvetica, arial, san-serif;}
      h1{clear:both;padding-top:20px;}
    </style>
  </head>
  <body>
    <% the_friend = @friends[rand(@friends.length)] %>

        <% @friends.each do |friend| %>
            <a class='friend' href="#" onclick="alert('<%= friend == the_friend ? "winner (#{the_friend.name})" : "loser (it was #{the_friend.name})" %>');window.location.reload()">
              <img src="https://graph.facebook.com/<%= friend.id %>/picture?type=large" alt="<%= friend.name %>">
            </a>
        <% end %>

      <% anagrams = Anagram.two_word_anagrams_of(the_friend.name, 5) %>
      <h1><%= anagrams[rand(anagrams.length)] %></h1>
      <p>This is an anagram of one of your friends names, click which one you think it is!</p>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27508743-1']);
        _gaq.push(['_setDomainName', 'herokuapp.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  </body>
</html>
